<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Email Notification Reservation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    <span>Bonjour </span><span th:text="${prenom + ' ' + nom + ','}"></span>
</p>
<p>
<div th:text="${'Le livre ' + livre + ' pour lequel vous avez enregistré une réservation en date du ' + dateReservation + ' est à nouveau disponibe.'}"></div>
<br>
<div th:text="${'Nous vous invitons à venir le retirer à la ' + bibliotheque + '.'}"></div>
<br>
<div>Nous vous rappelons que cette réservation est valable pendant 48h et que, passé ce délai, elle sera automatiquement annulée.</div>
</p>
<p>
    Cordialement, <br/>
    &emsp; <em>L'équipe de votre bibliothèque de Nîmes</em>
</p>

</body>
</html>
